@import url('https://fonts.googleapis.com/css?family=Baumans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Spartan:100,200,300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@300;400;500;600;700&display=swap');


.edit{
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.section-1 {
	background: #fff url(https://images.unsplash.com/photo-1508830524289-0adcbe822b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1011&q=80);
	background-repeat: no-repeat;
	box-sizing: border-box;
	height:720px;
	display:flex;
	width: 100%;
	background-size: 100% 750px;
	background-attachment: fixed;
 	transition: all 0.8s linear; 
 	z-index: -1;
	 padding-right:50px; 
	 padding-top: 0px;
	 margin-top: 0px;
	 top: -50px;
	 /* transform: translateY(-30.5px); */
	 
}

.color-overlay {
	width:100%;
	height:720px;
	background: linear-gradient(to right,rgb(100, 129, 237),rgb(88, 79, 214));
	opacity: 0.6;
	position:absolute;
	z-index: 0;
}

.first-half {
	position: relative;
    padding-top: 17%; 
}

.about {
	z-index: 1;
    border-bottom: 1px solid #ffffff;
    width: 20rem;
    padding-bottom: 0.5rem;
    position: relative;
    display: flex;
}

.about-text {
	color: #fff;
	font-size: 80px;
    font-family: 'Montserrat';
    font-weight: 200;
    position: relative;
}

.complete-logo {
	font-family: baumans;
	z-index: 1;
	display: flex;	
	position: relative;	
	padding-top:3rem; 
}

.p-logo {
	position: relative;
}

.club {
	position: relative;
}

.bracket {
font-family: 'Oswald', sans-serif;
font-weight: 400;
}

/* .logo-half-1 {
	z-index: 1;
	font-size: 70px;
  	padding-left: 17px;
  	padding-right: 0px;
	padding-bottom: 12px;
	color: rgb(72, 240, 144);
	letter-spacing: -8px;
	background: black;
	width: 130px;
	border-radius: 1000px; 
	transition: 1.5s;
} */



#hexagon {
	width: 100px;
	height: 65px;
	background: black;
  	padding-left: 11px;
  	padding-right: 0px;
  	padding-top: -20px;
	z-index: 1;
	font-size: 55px;
	color: rgb(72, 240, 144);
	letter-spacing: -5px;
  }
  #hexagon:before {
	content: "";
	position: absolute;
	top: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 25px solid black;
  }
  #hexagon:after {
	content: "";
	position: absolute;
	bottom: -10px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid black;
	z-index: -1;
  }



.logo-half-2 {
	z-index: 1;
	color: white;
	font-size: 60px;
    font-weight: 300;
    letter-spacing: 4px;
    transition: 2s;
    padding-left: 1rem;
}

.second-half {
	position: relative;
	z-index: 1;
	padding-top: 18%;
	padding-bottom: 20%;
}
.type {
	font-family: 'Source Code Pro';
	height: 100%;
	font-weight: 200;
	border-left:1px solid #ffffff;
	padding-left: 3rem;
}

.type-line {
	color: white;
	z-index: 1;
}

.type-line-1 {
	font-size: 60px;
}

.type-line-2 {
	font-size: 70px;
	letter-spacing: 10px;
}

.info-here {
	position: relative;
	z-index: 1;
	padding-top: 150px;
}

.get-info {
	color: #fff;
	font-size: 1.1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    width: 40%;
    transition: 0.5s;
}
.get-info:hover {
	color: rgb(72, 240, 144);
	text-decoration: none;
}

@media only screen and (max-width:1200px){
	.first-half {
		transform: scale(.90); 
		z-index: 1;
	}
	.second-half {
		transform: scale(.90);
	}
}

@media only screen and (max-width:992px){
	.first-half {
		transform: scale(.75); 
		z-index: 1;
	}
	.second-half {
		transform: scale(.75);
	}
	.section-1 {
		padding-right: 100px;
		background-size: cover;
	}
}


@media only screen and (max-width:864px)
{
	.section-1 {
		transform: translateY(-0.5px);
	}
}

@media only screen and (max-width:766px){
	.first-half {
		transform: scale(.65); 
		z-index: 1;
	}
	.second-half {
		transform: scale(.65);
	}
	.section-1 {
		padding-right: 150px;
	}
}
@media only screen and (max-width:668px){
	.first-half {
		transform: scale(.50); 
		z-index: 1;
	}
	.second-half {
		transform: scale(.50);
	}
	.section-1 {
		padding-right: 200px;
	}
}
@media only screen and (max-width:574px){
	.first-half {
		transform: scale(.70); 
		z-index: 1;
	}
	.second-half {
		transform: scale(.70);
	}

}


.section-2
{
background: url(https://images.pexels.com/photos/3184668/pexels-photo-3184668.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
background-repeat: no-repeat;
	height:200px;
	width: 100%;
	background-size: 100% 750px;
	position: relative;
	background-attachment: fixed;
	box-sizing: border-box;

}
.color-overlay-2 {
	width:100%;
	height:200px;
	background: white;
	opacity: 0.1;
	position:absolute;
}
.section-3
{
background: url(https://images.pexels.com/photos/325153/pexels-photo-325153.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
background-repeat: no-repeat;
	height:750px;
	width: 100%;
	background-size: 100% 100%;
	position: relative;
	background-attachment: fixed;
	z-index: -1;
	box-sizing: border-box;
}
.color-overlay-3 {
	width:100%;
	height:100%;
	background: white;
	opacity: 0.3;
	position:absolute;
}

@media only screen and (max-width:1339px){
	.card-text {
		transform: scale(.95);
	}
	.card {
		overflow: scroll;
	}
}