@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
}
.navdiv{
  margin: 0;
  padding: 0;
  height: 80px;
}
/* html{
  margin: 0;
  padding: 0;
  height: 100vh ;
  width: 100%;
} */

/* body{
  margin: 0 ;
  padding: 0 ;
  width: 100% ;
  height: 100vh ;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
} */
nav{
  padding: 0px;
  margin: 0px;
  background-color: #303036ed;
  width: 100%;
  height: 80px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  /* color: #d3d3d3; */
  color: white;
}

.image{
  float: left;
  margin-left: 15px;
  /* margin-top: 8px; */
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin-top: 0;
  padding: 0
}
.nav-wrapper{
  margin: 0;
  padding: 0;
}
nav ul {
  float: right;
  line-height: 80px;
  margin: 0;
  padding: 0;
  line-height: -50px;
  
}
nav ul li {
  display: inline-block;
  /* float: left; */
  line-height: -50px;
  
}

nav ul li:not(:first-child){
  margin-left: 48px;
}

nav ul li:last-child{
  margin-right: 34px;
}

nav ul li h6{
  display: inline-block;
  outline: none;
  /* color: #d3d3d3 ; */
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1.8px;
  font-weight: 600;
  line-height: 80px;
  transition: 0.8s all;
}


nav ul li h6:hover{
  font-size: 20px;
  color:  rgb(72, 240, 144);
}



@media screen and (max-width:864px ){
  .nav-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #000;
    opacity: 0;
    transition: all .5s ease ;

  }


  .nav-wrapper ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }



  .nav-wrapper ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }


  .nav-wrapper ul li:nth-child(1) h6 {
    transition-delay: .4s ;
  }


  .nav-wrapper ul li:nth-child(2) h6 {
    transition-delay: .5s ;
  }

  .nav-wrapper ul li:nth-child(3) h6 {
    transition-delay: .6s ;
  }


  .nav-wrapper ul li:nth-child(4) h6 {
    transition-delay: .7s ;
  }

  .nav-wrapper ul li:not(:first-child){
    margin-left: 0;
  }


    .nav-wrapper ul li h6{
      padding: 10px 24px;
      opacity: 0;
      color: #fff ;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 1.2px;
      transform: translateX(-20px);
      transition: all 0.5s ease ;
    }


    .nav-btn {
      position: fixed;
      right: 10px;
      top: 10px;
      display: block;
      width: 48px;
      height: 48px;
      cursor: pointer;
      z-index: 9999;
      border-radius: 50%;
    }


    .nav-btn i {
      display: block;
      width: 20px;
      height: 2px ;
      background: #000 ;
      border-radius: 2px;
      margin-right: 14px;
    }


    .nav-btn i:nth-child(1){
      margin-top: 16px;
    }

    .nav-btn i:nth-child(2){
      margin-top: 4px;
      opacity: 1;
    }

    .nav-btn i:nth-child(3){
      margin-top: 4px;
    }
}


#nav:checked +.nav-btn {
  transform: rotate(45deg);
}

#nav:checked +.nav-btn i {
  background: #fff;
  transition: transform .5s ease ;
}

#nav:checked +.nav-btn i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}

#nav:checked +.nav-btn i:nth-child(2) {
  opacity: 0 ;
}


#nav:checked +.nav-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li h6 {
  opacity: 1;
  transform: translateX(0);
}

.hidden{
  display: none;
}
